.formBlock {
  width: 100%;
}

.divider {
  margin: var(--pt2) 0;
}

.clientId {
  color: var(--text);
}

.buttons {
  display: flex;
  margin-top: auto;
  padding-top: var(--pt2);
  justify-content: flex-end;
}

.fieldInput {
  width: 100%;
  padding: var(--pt1);
  border: 0;
  background-color: transparent;
  color: var(--dark);
  font-family: var(--font-mono-regular);
}

.fieldInput::placeholder {
  color: var(--dark);
  opacity: 0.7;
}

.fieldInput:focus {
  outline: none;
}

.inlineWarning {
  display: flex;
  align-items: center;
  gap: var(--pt1);
  margin: 0;
}

.fieldRow {
  display: flex;
  align-items: center;
  gap: var(--pt1);
}

.feedback {
  margin-left: calc(32px + var(--pt05));
}

.feedbackInline {
  margin-left: calc(32px + var(--pt05));
}

.fieldIcon {
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 1;
}

.warningIcon {
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 1;
}

.warningInput {
  width: 100%;
  padding: var(--pt1);
  border: 0;
  background-color: transparent;
  color: var(--dark);
  font-family: var(--font-mono-regular);
}

.warningInput::placeholder {
  color: var(--dark);
  opacity: 0.7;
}

.warningInput:focus {
  outline: none;
}

.error {
  color: var(--error) !important;
}

.status {
  color: var(--success) !important;
}
