.overlay {
  background-color: var(--primary-light) !important;
}

.supportText {
  width: 450px;
  margin: var(--pt1) auto 0;
  color: var(--text-dark);
  opacity: 0.85;
}

@media screen and (max-width: 576px) {
  .supportText {
    width: 320px;
  }
}

:global(body.dark) .supportText {
  color: var(--text-dark);
}
