.wrap {
  display: flex;
  align-items: center;
}

.wrap :global(.form-check-input:checked) {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.wrap :global(.form-switch .form-check-input),
.wrap :global(.form-switch) {
  margin: 0;
  padding: 0;
  display: block;
}

.wrap :global(.form-switch .form-check-input) {
  margin: 0 var(--pt1);
}
