.AddAccount {
  /* margin-top: 60px; */
}
.AddAccount input {
  margin-top: 16px;
  width: 400px;
}
.AddAccount button {
  background: none;
  border: none;
  padding: 4px 8px;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  
}
.AccountDropdown {
  border: 1px solid black;
  position: absolute;
  width: 600px;
  /* padding: 8px; */
  background: white;
}
