// export NODE_ENV=development

// ## Moreinfo access
// export MOREINFO_USER=
// export MOREINFO_GROUP=
// export MOREINFO_PASSWORD=

// ## Suggester access token
// export SUGGESTER_TOKEN=

// ## Elba / Digital article service access
// export STATSBIBLIOTEKET_USER=
// export STATSBIBLIOTEKET_PASSWORD=
// export STATSBIBLIOTEKET_ENABLED=true

// ## Openorder access
// export OPENORDER_USER=
// export OPENORDER_GROUP=
// export OPENORDER_PASSWORD=

// ## Allowed query complexity limit
// export MAX_QUERY_COMPLEXITY=25000

// ## CULR access
// export CULR_PASSWORD=
// export CULR_USER=
// export CULR_GROUP=

// ## Infomedia Access
// export INFOMEDIA_ID=

// ## Elasticsearch access
// export ELK_USER=
// export ELK_PASSWORD=
