/**
* Colors 
*
* https://mycolor.space/?hex=%23009688&sub=1
*
* https://www.materialpalette.com/teal/amber
*

https://mycolor.space/gradient?ori=to+right&hex=%23FFAFCC&hex2=%23A2D2FF&sub=1

background: rgb(255,175,204);
background: linear-gradient(45deg, rgba(255,175,204,1) 25%, rgba(162,210,255,1) 75%);
*/

body {
  /* gradient */
  --hero-gradient-primary: #ffafcc;
  --hero-gradient-secondary: #a2d2ff;

  /* Scheme */
  --primary: #ffafcc;
  --primary-light: #ffc8dd;
  --primary-dark: #f48ba9;

  /* e535ab graphql */

  /* #dc1c13
 #EA4C46
 #f07470 */

  --secondary: #a2d2ff;
  --secondary-light: #bde0fe;
  --secondary-dark: #86cbed;

  --accent: #936ed4;
  --accent-light: #cdb4db;

  /* text */
  --text-dark: #212121;
  --text-light: #757575;

  /* contrasts */
  --white: #ffffff;
  --divider: #ecf0f1;
  --divider-dark: #bdbdbd;

  /* Alerts */
  --error: #f44336;
  --error-dark: #d32f2f;
  --warning: #ffeb3b;
  --warning-dark: #fbc02d;
  --info: #2196f3;
  --info-dark: #1976d2;
  --success: #4caf50;
  --success-dark: #388e3c;
}

body.christmas {
  --primary: #f07470;
  --primary-dark: #ea4c46;

  --secondary: #ffb5b5;

  --hero-gradient-primary: #dc1c13;
  --hero-gradient-secondary: #f07470;
}
