.graphiql-container * {
  box-sizing: border-box;
}
reach-portal * {
  box-sizing: content-box;
}

.graphiql-container .graphiql-session-header-right {
  margin-right: var(--px-16);
}

.graphiql-container .graphiql-logo {
  display: none;
}

/* container design */

.graphiql-container .graphiql-editors {
  border-radius: 0;
}

.graphiql-container .graphiql-sessions {
  border-radius: 0;
}

.graphiql-toolbar button.graphiql-un-styled,
.graphiql-sidebar button.graphiql-un-styled {
  border-radius: 50%;
}

button.graphiql-un-styled .graphiql-toolbar-icon {
  width: var(--pt2);
  height: var(--pt2);
}

/* scrollbar */

.CodeMirror-scroll {
  margin-right: 0;
}

.graphiql-container *,
.graphiql-container * {
  /* firefox */
  scrollbar-color: var(--primary-dark) transparent;
}

/* width */
.graphiql-container *::-webkit-scrollbar {
  display: none;
}

.CodeMirror-sizer {
  margin-right: var(--pt2);
}

/* width */
.CodeMirror-hscrollbar::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
  display: block;
  width: var(--pt1);
  height: var(--pt1);
}

/* Track */
.CodeMirror-hscrollbar::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--pt05);
}

/* Handle on hover */
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

/* settings panel */

/* hide settings in graphiql editor */
.graphiql-sidebar-section:last-child button:last-child {
  display: none;
}
