.authenticated {
  font-size: 11px;
  margin-left: var(--pt1);
  color: #6b6b6b;
  letter-spacing: 0.6px;
}
.history {
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: var(--divider);

  /* scroll in modal */
  overflow-y: auto;
}
.label {
  margin-top: var(--pt2);
}

.history .keys,
.history .top {
  padding: var(--pt2);
  margin: 0;
}

.history .top {
  background-color: var(--white);
}

/* item */
.item {
  background-color: var(--white);
  margin-bottom: var(--pt2);
}

.item.expired .display,
.item.expired .date,
.item.expired .id,
.item.expired .token {
  color: var(--text-light);
}

.display,
.date,
.id,
.token {
  padding: var(--pt2) var(--pt2) 0 var(--pt2) !important;
}

.token {
  padding: var(--pt2) !important;
}

.token p,
.id p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--divider); */
  padding: var(--pt1) var(--pt1) 0 var(--pt2) !important;
}

.buttons {
  padding: var(--pt1) var(--pt2);
  display: flex;
  justify-content: flex-end;
}

.buttons .use {
  margin-left: var(--pt1);
}

.item.inUse .use {
  color: var(--text-dark);
  background-color: var(--primary-dark);
}

.item.inUse .use:hover,
.item.inUse .use:focus-visible {
  background-color: var(--text-dark);
  color: var(--white);
}

.item hr {
  
  margin: 0 !important;
}



.cross {
  width: var(--pt4);
  height: var(--pt4);
  text-align: center;
  cursor: pointer;
  color: var(--text-light);
  transition: transform 0.2s, background-color 0.3s;
  position: relative;
  border-radius: 50%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cross span {
  display: block;
  width: 12px;
  height: 4px;
  background-color: var(--text-dark);
}

.cross span:first-child {
  transition: width 0.2s;
  position: absolute;
  transform: rotate(90deg);
}

.cross.less {
  transform: rotate(90deg);
}

.cross.less span:last-child {
  width: 0px;
}

/* hover */

.cross:hover {
  background-color: var(--text-dark);
}

.cross:hover span {
  background-color: var(--white);
}

/* focus */

.cross:focus-visible {
  outline: 2px solid var(--text-dark);
}

.configurations h2 {
  margin-top: var(--pt3);
  margin-bottom: var(--pt3);
}

.history h2,
.createform form {
  padding: 0;
}
.createform form {
  margin-top: var(--pt1);
  
}
.createform input {
  /* background: red; */
  border-radius: 0%;
  width: 380px;
  padding: var(--pt1);
  height: var(--pt5);
  font-size: 14px;
  border: 1px solid gray;
}
.createform button {
  margin-top: var(--pt2);
}
.history hr {
  background-color: var(--divider-dark);
  border: none;
  height: 1px;
  margin-top: var(--pt4);
}

.inputfield {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--pt2);
}
.formbutton {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .history .keys,
  .history .top {
    padding: var(--pt4);
  }
}

@media screen and (min-width: 769px) {
}
