.toggle {
  width: var(--pt5);
  height: var(--pt5);
  border-radius: 50%;
  cursor: pointer;

  font-size: var(--pt2);

  background-color: var(--white);
  border: 2px solid var(--primary-dark);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.toggle:is(:hover, :focus-visible) {
  box-shadow: unset;
  background-color: var(--text-dark);
  border: 2px solid var(--text-dark);
}

.toggle::before,
.toggle::after {
  /* remove dropdown arrow */
  display: none !important;
}

.menu {
  min-width: auto;
  background-color: transparent;
  padding: 0 !important;
}

.item {
  width: var(--pt5);
  height: var(--pt5);
  border-radius: 50%;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--pt2);

  margin-top: var(--pt05);

  border: 1px solid var(--text-dark);
  background-color: var(--white);
  transform: scale(0);
  animation: scale 0.3s forwards;
}

.item:nth-child(2) {
  animation: scale 0.3s forwards 0.1s;
}

.item:last-child {
  animation: scale 0.3s forwards 0.2s;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.item:hover {
  border: 2px solid var(--primary-dark);
  background-color: var(--white);
}

.tooltip {
  font-size: 12px;
}

.tooltip > div {
  color: var(--text-dark);
  background-color: transparent;
}

.tooltip :global(.tooltip-arrow) {
  display: none;
}

/* 
* Dark mode
*/

:global(body.dark) .toggle,
:global(body.dark) .item {
  background-color: var(--dark-light);
  border: 2px solid var(--text-light);
}

:global(body.dark) .toggle:is(:hover, :focus-visible),
:global(body.dark) .item:is(:hover, :focus-visible) {
  background-color: var(--text-light);
  border: 2px solid var(--text-light);
}

:global(body.dark) .item {
  color: var(--text-dark);
}
