.menu {
  max-width: 300px;
  min-width: 250px;
  top: 100px;
  position: sticky;
  list-style: none;
  padding: var(--pt2) 0;

  /* scroll */
  height: 85vh;
  overflow-y: scroll;
}

.items {
  padding: 0 var(--pt05);
  flex-direction: column;
}

.item {
  position: relative;
  display: block;
  margin-top: var(--pt05);
}

.item.h2 {
  padding-left: var(--pt3);
}

.item.h2 {
  padding-left: var(--pt3);
}

.item.h2:last-child {
  margin-bottom: var(--pt1);
}

.item.active > p > a {
  color: var(--primary-dark);
  font-family: var(--font-mono-semibold);
}

.item a::before {
  display: none;
}

.item > p {
  position: relative;
}

.item > p::before {
  content: "\a0";
  display: block;
  padding: 2px 0;
  border-left: 2px solid var(--text-dark);
  position: absolute;
  pointer-events: none;
  height: 100%;

  transform: scaleY(0) translateX(calc(var(--pt2) * -1));
  transition-duration: 0.2s;
}

.item.active > p::before {
  transform: scaleY(1) translateX(calc(var(--pt2) * -1));
}

.input {
  border: 2px solid var(--text-dark);
}

/* WebKit/Blink (Chrome, Edge, Safari) */
.menu::-webkit-scrollbar {
  width: 8px; /* <- vigtigt: uden denne ser du ofte ingen ændring */
}

.menu::-webkit-scrollbar-track {
  background: transparent; /* evt. tilføj border-radius hvis du vil matche thumb'en */
}

.menu::-webkit-scrollbar-thumb {
  background: var(--divider);
  border-radius: var(--pt05);
}

.menu::-webkit-scrollbar-thumb:hover {
  background: var(--divider-dark);
}

/* darkmode */

:global(body.dark) .menu::-webkit-scrollbar-thumb {
  background: var(--divider-dark);
}

:global(body.dark) .menu::-webkit-scrollbar-thumb:hover {
  background: var(--text-light);
}
