.inlinegraphiql :global(.graphiql-container) * {
  /* override resize.css */
  box-sizing: content-box;
}

.inlinegraphiql :global(.graphiql-container),
.inlinegraphiql :global(.CodeMirror-info),
.inlinegraphiql :global(.CodeMirror-lint-tooltip),
.inlinegraphiql :global(reach-portal) {
  font-size: 12px !important;
}

.inlinegraphiql :global(.graphiql-sidebar),
.inlinegraphiql :global(.graphiql-session-header) {
  display: none;
}

.inlinegraphiql :global(.graphiql-container .graphiql-sessions) {
  margin-left: var(--px-16);
}

.inlinegraphiql :global(.graphiql-container .graphiql-session) {
  padding: 0;
}

.inlinegraphiql :global(.graphiql-container .graphiql-editors.full-height) {
  margin-top: 0;
}

.inlinegraphiql :global(.graphiql-toolbar) > button {
  display: none;
}

.inlinegraphiql :global(.graphiql-toolbar) {
  margin: 0;
}

.inlinegraphiql :global(.graphiql-toolbar) .complexity {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: calc(40px);
  right: calc(var(--pt1) * -1);
}

.inlinegraphiql :global(.graphiql-toolbar) .depth {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: calc(var(--pt1) * -1);
  right: calc(var(--pt1) * -1);
}

.inlinegraphiql :global(.topBarWrap) {
  display: none;
  content-visibility: none;
}

.inlinegraphiql :global(.graphiql-container) {
  height: 400px;
  padding: 0;
}

.inlinegraphiql :global(.CodeMirror-hints) {
  z-index: 1000;
}

.inlinegraphiql :global(.editorWrap) {
  overflow-x: visible;
}

.inlinegraphiql :global(.graphiql-container .graphiql-sessions) {
  background-color: transparent;
}

.inlinegraphiql :global(.graphiql-container .secondary-editor-title) {
  background: var(--divider);
  color: var(--text-dark);
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
}

.inlinegraphiql :global(.graphiql-container .resultWrap) {
  border-left: none;
}

.inlinegraphiql :global(.graphiql-container .graphiql-editor-tool) {
  padding-top: 0;
}

.inlinegraphiql {
  margin: var(--pt5) 0 0 0;
}

.button {
  box-sizing: border-box;
  margin: 0 var(--pt2) var(--pt2) 0;
}

.button.run {
  background-color: var(--primary-dark);
}

.curl {
  box-sizing: border-box;
  margin: var(--pt2) 0;
  max-width: 100%;
  background-color: var(--divider);
  border-radius: unset;
  cursor: pointer !important;
}

.buttons {
  display: flex;
}

.buttons .button:last-child {
  display: none;
}

.open {
  margin-left: auto;
  margin-right: 0;
}

:global(body:not(.dark, .graphiql-dark))
  .inlinegraphiql
  :global(.graphiql-container) {
  background-color: var(--divider);
}

@media (min-width: 576px) {
  .buttons .button:last-child {
    display: unset;
  }
}

/* dummy */
.inlinegraphiql.dummy {
  pointer-events: none;
}

.inlinegraphiql.dummy .interface {
  height: 400px;
  background-color: var(--divider);
}

.inlinegraphiql.dummy .buttons button {
  background-color: var(--divider) !important;
  color: transparent !important;
}

/* 
* Dark mode
*/

/* selected dark theme */
:global(body.dark)
  .inlinegraphiql
  :global(.graphiql-container .graphiql-editors *) {
  background-color: var(--dark-light);
}
:global(body.dark) .inlinegraphiql .curl {
  background-color: var(--dark);
}
:global(body.dark) .button.run {
  color: var(--dark);
}

/* panel button outline on focus */
:global(body.dark)
  .inlinegraphiql
  :global(:is(.graphiql-un-styled, button.graphiql-un-styled):focus) {
  outline: 2px solid var(--text-light);
}

/* dummy container */
:global(body.dark) .inlinegraphiql.dummy .interface,
:global(body.dark) .inlinegraphiql.dummy .buttons button,
:global(body.dark) .inlinegraphiql.dummy .curl {
  background-color: var(--dark) !important;
}
