.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  /* transform: rotate(270deg); */

  overflow: hidden;
}

.container span {
  width: 100px;
  height: 1px;
  background-color: var(--divider);
  position: absolute;
  left: -130px;
}

.span1 {
  top: 5%;
  animation: fly 1s -0.1s infinite linear;
}
.span2 {
  top: 10%;
  animation: fly 0.5s -0.2s infinite linear;
}
.span3 {
  top: 15%;
  animation: fly 0.75s -0.3s infinite linear;
}
.span4 {
  top: 20%;
  animation: fly 1s -0.45s infinite linear;
}
.span5 {
  top: 25%;
  animation: fly 0.5s -0.5s infinite linear;
}
.span6 {
  top: 30%;
  animation: fly 1s -0.15s infinite linear;
}
.span7 {
  top: 35%;
  animation: fly 0.75s -0.2s infinite linear;
}
.span8 {
  top: 40%;
  animation: fly 1s -0.3s infinite linear;
}
.span9 {
  top: 45%;
  animation: fly 0.5s -0.4s infinite linear;
}
.span10 {
  top: 50%;
  animation: fly 0.5s -0.5s infinite linear;
}
.span11 {
  top: 55%;
  animation: fly 1s -0.1s infinite linear;
}
.span12 {
  top: 60%;
  animation: fly 0.75s -0.25s infinite linear;
}
.span13 {
  top: 65%;
  animation: fly 0.5s -0.3s infinite linear;
}
.span14 {
  top: 70%;
  animation: fly 1s -0.4s infinite linear;
}
.span15 {
  top: 75%;
  animation: fly 0.75s -0.5s infinite linear;
}
.span16 {
  top: 80%;
  animation: fly 0.5s -0.1s infinite linear;
}
.span17 {
  top: 85%;
  animation: fly 1s -0.2s infinite linear;
}
.span18 {
  top: 90%;
  animation: fly 0.75s -0.35s infinite linear;
}
.span19 {
  top: 95%;
  animation: fly 0.5s -0.4s infinite linear;
}
.span20 {
  top: 100%;
  animation: fly 1s -0.5s infinite linear;
}

@keyframes fly {
  100% {
    transform: translateX(calc(100vw + 130px));
  }
}

:global(body.dark) .container span {
  background-color: var(--text-light);
}
