.container {
  width: 400px;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;

  /* position */
  position: absolute;
  right: 0%;
  top: 60%;

  left: 15%;

  transform: scale(0.6);
}

@media screen and (min-width: 576px) {
  .container {
    top: 40%;
    right: 10%;
    left: unset;
    transform: scale(1);
  }
}

.container *:after,
.container *:before {
  box-sizing: inherit;
}

.spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

.spooky .body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #edf1f2;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.spooky .body:before,
.spooky .body:after {
  content: "";
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #edf1f2;
  animation: floaty 0.2s infinite;
}

.spooky .body:before {
  left: -18px;
}

.spooky .body:after {
  right: -18px;
}

.spooky .body .eyes {
  display: flex;
  color: black;
  margin: 0 auto;
  width: 90px;
  height: 20px;
  justify-content: space-between;
  padding: 90px 0 0;
}

.spooky .body .eyes:before,
.spooky .body .eyes:after {
  content: " ";
  display: black;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}

.spooky .body .mouth {
  background: black;
  margin: 50px auto 0;
  width: 60px;
  height: 34px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

.spooky .body .feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

.spooky .body .feet > *,
.spooky .body .feet::before,
.spooky .body .feet::after {
  content: " ";
  width: 36px;
  height: 35px;
  background: #edf1f2;
  border-radius: 50%;
  border-bottom: 5px solid #252f33;
}

.shadow {
  margin: -90px auto 0;
  background: 0 #252f33;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes zoomy {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}
