.halloween {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  background-color: orange;
}

:global(body.dark) .halloween {
  background-color: unset;
}

.dimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
