.more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--pt6);
  height: var(--pt6);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  appearance: none;

  background-color: var(--white);
  border: 2px solid var(--text-dark);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition:
    background-color 0.18s ease,
    border-color 0.18s ease,
    box-shadow 0.18s ease,
    transform 0.18s ease;
}

.lines {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  width: 18px;
  height: 18px;
}

.lines > span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: var(--text-dark);
}

.more:is(:hover, :focus-visible) {
  box-shadow: unset;
  background-color: var(--text-dark);
  border: 2px solid var(--text-dark);
  transform: translateY(1px);
}

.more:is(:hover, :focus-visible) .lines > span {
  background-color: var(--white);
}

/* 
* Dark mode
*/

:global(body.dark) .more {
  border: 2px solid var(--text-light);
}

:global(body.dark) .more {
  background-color: var(--dark-light);
}

:global(body.dark) .more:is(:hover, :focus-visible) {
  background-color: var(--text-light);
}

:global(body.dark) .lines > span {
  background-color: var(--text-light);
}
