.schema {
  white-space: pre-wrap;
  background: #f6f8fa;
  padding: 16px;
  border-radius: 6px;
  margin-top: 32px;
}
.schema :global(.graphql-keyword) {
  color: #d60590;
}
.schema :global(.graphql-type-name),
.schema :global(.graphql-enum-name),
.schema :global(.graphql-input-name) {
  color: #007deb;
}

.schema :global(.graphql-description) {
  color: #009fb8;
}

/* 
* Dark mode
*/

/* selected dark theme */
:global(body.dark) .schema {
  background: var(--dark);
}
:global(body.dark) .schema :global(.graphql-type-name),
:global(body.dark) .schema :global(.graphql-enum-name),
:global(body.dark) .schema :global(.graphql-input-name) {
  color: #70bcff;
}
:global(body.dark) .schema :global(.graphql-description) {
  color: #00c2e0;
}
