.container {
  padding-top: var(--pt8);
  padding-bottom: var(--pt8);
}

.content > div {
  max-width: 720px;
  padding-top: var(--pt4);
}

.content > div > .title,
.content > div > .text,
.content li {
  padding-top: var(--pt2);
}

.content li {
  margin-left: var(--pt3);
}

.email {
  padding: var(--pt2);
  pointer-events: none;
}
