.container {
  padding-top: var(--pt8);
  padding-bottom: var(--pt8);
}

.content > div {
  max-width: 720px;
  padding-top: var(--pt4);
}

.content > div > .title,
.content > div > .text {
  padding-top: var(--pt2);
}
