.dropdown {
  margin-left: var(--pt1);
}

.toggle {
  border: 2px solid var(--primary-dark);
  height: var(--pt5);
  background-color: var(--white);
  font-family: var(--font-mono-regular);
  transition-duration: 0.35s;
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;

  /* half height */
  border-radius: var(--pt5);

  /* changes on focus */
  transition-duration: 0.3s;
  padding: 0 var(--pt2);
}

.toggle:focus-visible,
.toggle:hover {
  border: 2px solid var(--text-dark);
  background-color: var(--text-dark);
  color: var(--white);
}

.toggle::after {
  margin-left: var(--pt2);
}

.menu {
  padding: var(--pt2);
  border: 1px solid var(--divider-dark);
}

.item {
  font-family: var(--font-sans-regular);
}

.item.selected {
  font-family: var(--font-sans-bold);
  color: var(--primary-dark) !important;
  border-left: 2px solid var(--text-dark);
}

.item:focus-visible {
  outline: 2px solid var(--text-dark);
}

.item:hover {
  color: var(--primary-dark) !important;
  background-color: transparent;
}

/* 
* Dark mode
*/

/* selected dark theme */
:global(body.dark) .toggle {
  color: var(--text-dark);
  background-color: var(--dark);
  border: 2px solid var(--text-light);
}
:global(body.dark) .toggle:hover,
:global(body.dark) .toggle:focus-visible {
  color: var(--dark);
  background-color: var(--text-light);
  border: 2px solid var(--text-light);
}
:global(body.dark) .menu {
  background-color: var(--dark-light);
}
:global(body.dark) .item {
  color: var(--text-dark);
}
