.collapsed {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.2s,
    padding 0.2s linear 0s;
}

:global(.expanded) .collapsed {
  max-height: 100vh;
  margin-bottom: var(--pt2);
  padding: 0 0 var(--pt2);
  overflow-y: auto;
  transition:
    max-height 0.3s,
    padding 0.2s linear 0s;
}

.divider {
  margin: var(--pt2) 0;
}

:global(.expanded) .divider {
  width: calc(100% + var(--pt8));
  margin-left: calc(var(--pt4) * -1);
}

:global(.expanded) .collapsed::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

:global(.expanded) .collapsed::-webkit-scrollbar-track {
  background: transparent;
}

:global(.expanded) .collapsed::-webkit-scrollbar-thumb {
  background: var(--divider);
  border-radius: var(--pt05);
}

:global(.expanded) .collapsed::-webkit-scrollbar-thumb:hover {
  background: var(--divider-dark);
}

.user {
  margin-top: var(--pt1);
}

.heading p {
  font-size: 12px;
}

.submitted,
.expires,
.token,
.refreshToken,
.clientId,
.alwaysRequireAgencyId,
.clientNote,
.name,
.mail,
.municipalityAgencyId,
.isCPRValidated,
.culr,
.loggedInBranchId,
.loggedInAgencyId,
.hasOmittedCulrUniqueId,
.user > div {
  color: var(--text);
  margin-top: var(--pt1);
  margin-bottom: var(--pt1);
}

.submitted span,
.expires span {
  color: var(--text-light);
  letter-spacing: 0.6px;
  font-size: 12px;
  font-family: var(--font-mono-regular);
}

.expires > div {
  display: flex;
  align-items: center;
}

.indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: var(--pt1);
}

.indicator.expire-less-than-5-days {
  background-color: var(--error);
}

.indicator.expire-less-than-15-days {
  background-color: var(--warning-dark);
}

.indicator.expire-more-or-eq-to-15-days {
  background-color: var(--success-dark);
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--pt1);
}

.details > div {
  width: 100%;
}

:global(.missingConfig) .clientId ~ .details > div p:last-child {
  color: var(--error);
  font-family: var(--font-mono-semibold);
}

.fieldRow {
  display: flex;
  align-items: center;
  gap: var(--pt1);
  margin-top: var(--pt1);
}

.fieldIcon {
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 1;
}

.clientNote input {
  width: 100%;
  padding: var(--pt1);
  border: 0;
  background-color: transparent;
  color: var(--dark);
  font-family: var(--font-mono-regular);
}

.clientNote input::placeholder {
  color: var(--dark);
  opacity: 0.7;
}

.clientNote input:focus {
  outline: none;
}

.clientNote input:focus::placeholder {
  color: transparent;
}

.attachments {
  margin-top: var(--pt2);
}

.i {
  font-style: italic;
}

@media (min-width: 480px) {
  .details {
    flex-direction: row;
  }

  .details > div {
    width: 50%;
  }
}
