.container *,
.container *:before,
.container *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* ------------------ */

.delorean {
  transform: scale(0.2);
  width: 1100px;
  height: 260px;
  position: absolute;
  right: -75vw;
  bottom: -120px;
  margin: auto;
}

@media screen and (min-width: 576px) {
  .delorean {
    transform: scale(0.25);
    right: -50vw;
    bottom: -110px;
  }
}

@media screen and (min-width: 786px) {
  .delorean {
    right: -35vw;
  }
}

@media screen and (min-width: 992px) {
  .delorean {
    transform: scale(0.3);
    right: -25vw;
    bottom: -100px;
  }
}

@media screen and (min-width: 1200px) {
  .delorean {
    transform: scale(0.4);
    right: -20vw;
  }
}

@media screen and (min-width: 1400px) {
  .delorean {
    right: -150px;
  }
}

.delorean .mae_blue {
  position: absolute;
  top: 158px;
  left: -14px;
  width: 64px;
  height: 24px;
  background: #bababa;
  z-index: 2001;
  border-radius: 3px 0px 0px 3px;
  border-top: 4px solid #d8d8d8;
  border-bottom: 4px solid #d8d8d8;
}
.delorean .mae_hako {
  position: absolute;
  top: 156px;
  left: 50px;
  width: 80px;
  height: 45px;
  background: #525151;
  z-index: 2003;
}
.delorean .mae_hako::after {
  position: absolute;
  top: 6px;
  left: 8px;
  background: #989898;
  height: 32px;
  width: 20px;
  z-index: 2004;
  content: "";
}
.delorean .mae_hako::before {
  position: absolute;
  top: 6px;
  left: 46px;
  background: #989898;
  height: 20px;
  width: 20px;
  z-index: 2004;
  content: "";
}
.delorean .code {
  height: 800px;
  width: 370px;
  transform: rotate(16deg);
  position: absolute;
  left: -60px;
  top: 108px;
  z-index: 2002;
  background: transparent;
  border-radius: 50%;
  border-top: 7px solid #6a6a6a;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.delorean .code2 {
  position: absolute;
  top: 230px;
  left: 324px;
  height: 7px;
  width: 340px;
  background: #6a6a6a;
  z-index: 2002;
}
.delorean .code2::after {
  position: absolute;
  left: 120px;
  top: -1px;
  height: 10px;
  width: 200px;
  border-radius: 10px;
  background: #b3b3b3;
  content: "";
}
.delorean .code3 {
  height: 200px;
  width: 200px;
  transform: rotate(-50deg);
  position: absolute;
  left: 544px;
  top: 29px;
  z-index: 2002;
  background: transparent;
  border-radius: 50%;
  border-bottom: 7px solid #6a6a6a;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.delorean .ushiro_blue_ue {
  position: absolute;
  top: -4px;
  background: #bababa;
  transform: skewX(4deg);
  border-radius: 0px 0px 0px 20px;
  border-left: 5px solid #d8d8d8;
  border-bottom: 5px solid #d8d8d8;
  left: 729px;
  height: 122px;
  width: 30px;
  z-index: 2006;
}
.delorean .ushiro_blue_ue::after {
  position: absolute;
  width: 5px;
  background: #d8d8d8;
  right: 0px;
  top: 0px;
  height: 96px;
  content: "";
}
.delorean .ushiro_blue_naka {
  position: absolute;
  top: 87px;
  background: #bababa;
  border-bottom: 5px solid #d8d8d8;
  border-top: 5px solid #d8d8d8;
  left: 759px;
  height: 26px;
  width: 200px;
  z-index: 2006;
  transform: skewX(-10deg);
}
.delorean .ushiro_blue_shita {
  position: absolute;
  top: 87px;
  background: #bababa;
  transform: skewX(24deg);
  border-right: 5px solid #d8d8d8;
  border-top: 5px solid #d8d8d8;
  left: 959px;
  height: 140px;
  width: 30px;
  z-index: 2006;
}
.delorean .ushiro_blue_shita::after {
  position: absolute;
  width: 5px;
  background: #d8d8d8;
  left: 0px;
  top: 26px;
  height: 114px;
  content: "";
}
.delorean .kanki {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 64px;
  width: 178px;
  background: #414141;
  transform: rotate(-22deg) scale(0.9, 0.9);
}
.delorean .kanki::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 8px;
  border-width: 66px 100px 0px 0px;
  border-color: transparent #414141 transparent transparent;
  border-style: solid;
  transform: rotate(33deg);
}
.delorean .kanki2 {
  content: "";
  position: absolute;
  bottom: 150px;
  right: 32px;
  height: 30px;
  width: 30px;
  transform: skewX(-30deg);
  background: #414141;
}
.delorean .mrfusion {
  position: absolute;
  top: -64px;
  border-radius: 5px 5px 0px 0px;
  right: 140px;
  height: 60px;
  background: #eee;
  z-index: -1;
  width: 28px;
}
.delorean .mrfusion .dai {
  position: absolute;
  bottom: -46px;
  right: -12px;
  width: 50px;
  height: 28px;
  background: #000;
}
.delorean .mrfusion .mark {
  font-size: 14px;
  color: #eee;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #73848b;
  text-align: center;
}
.delorean .mrfusion::after {
  position: absolute;
  bottom: -18px;
  height: 20px;
  right: -6px;
  background: #eee;
  border-radius: 14px 14px 0px 0px;
  width: 40px;
  content: "";
}
.delorean .mrfusion::before {
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: 4px;
  background: #73848b;
  height: 26px;
  width: 10px;
  border-radius: 100% 0% 0% 0%;
  content: "";
}
.delorean .pen {
  position: absolute;
  top: -24px;
  border-radius: 50% 0px 0px 50%;
  left: 710px;
  height: 10px;
  width: 60px;
  z-index: 2000;
  background: #a8a8a8;
  transform: rotate(-0.6deg);
}
.delorean .pen::before {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 10px;
  width: 8px;
  height: 10px;
  background: #909090;
}
.delorean .pen::after {
  position: absolute;
  content: "";
  bottom: -14px;
  right: 0px;
  z-index: 2100;
  background: #909090;
  height: 10px;
  width: 40px;
}

.body {
  height: 235px;
  width: 1020px;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
}
.body .window_fuchi {
  position: absolute;
  right: 380px;
  top: 0px;
  height: 86px;
  width: 236px;
  background: #a8a8a8;
  transform: skewX(-65deg);
  border-radius: 10px 0px 0px 0px;
}
.body .window_fuchi2 {
  position: absolute;
  right: 150px;
  top: 0px;
  width: 110px;
  height: 72px;
  background: #a8a8a8;
  transform: skewX(74deg);
}
.body .yoko_mae_top {
  height: 52px;
  width: 311px;
  background: #a8a8a8;
  transform: rotate(-6deg);
  position: absolute;
  top: 102px;
  left: 0px;
  z-index: 2;
}
.body .yoko_mae_bottom {
  height: 46px;
  width: 187px;
  left: -3px;
  background: #909090;
  transform: rotate(12deg);
  position: absolute;
  top: 178px;
  z-index: 1002;
}
.body .yoko_mae_bottom2 {
  position: absolute;
  top: 126px;
  left: 180px;
  background: #a8a8a8;
  height: 110px;
  width: 200px;
}
.body .hide1 {
  background: #a8a8a8;
  width: 560px;
  height: 150px;
  position: absolute;
  left: 304px;
  top: 86px;
}
.body .yoko_mae_center {
  background: #909090;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 80px;
  top: 140px;
}
.body .yoko_ushiro_bottom {
  position: absolute;
  top: 171px;
  right: 38px;
  background: #909090;
  height: 52px;
  width: 124px;
  transform: rotate(-12deg);
}
.body .hide2 {
  background: #a8a8a8;
  width: 130px;
  height: 190px;
  transform: rotate(65deg);
  position: absolute;
  left: 595px;
  top: 10px;
}
.body .hide3 {
  background: #a8a8a8;
  width: 60px;
  height: 190px;
  transform: rotate(-74deg);
  position: absolute;
  right: 200px;
  top: -20px;
}
.body .hide4 {
  background: #a8a8a8;
  width: 136px;
  height: 138px;
  position: absolute;
  right: 26px;
  top: 72px;
}
.body .hide4_gray {
  position: absolute;
  bottom: 0px;
  height: 62px;
  background: #909090;
  width: 100%;
}
.body .hide5 {
  position: absolute;
  top: 160px;
  left: 40px;
  background: #909090;
  height: 30px;
  width: 100px;
  z-index: 998;
}
.body .line {
  position: absolute;
  left: 3px;
  top: 159px;
  height: 8px;
  width: 990px;
  transform: rotate(-1.2deg);
  transform-origin: 0px 4px;
  background: #292929;
  z-index: 1003;
}
.body .line .hilight {
  position: absolute;
  width: 100%;
  top: -10px;
  background: #b9b9b9;
  height: 5px;
}
.body .line .red {
  position: absolute;
  right: 14px;
  background: #ad3535;
  height: 100%;
  width: 70px;
}
.body .line .hold {
  position: absolute;
  left: 560px;
  bottom: -10px;
  height: 10px;
  width: 40px;
  border-radius: 0px 0px 20px 20px;
  background: #a3a3a3;
  z-index: 2000;
}
.body .line .orange {
  position: absolute;
  left: 10px;
  background: #ad3e0e;
  height: 100%;
  width: 50px;
}
.body .zenrin_space {
  position: absolute;
  bottom: -70px;
  left: 90px;
  height: 166px;
  width: 170px;
  background: #292929;
  border-radius: 50%;
  border: 4px solid #a8a8a8;
  z-index: 1500;
}
.body .korin_space {
  position: absolute;
  bottom: -78px;
  right: 120px;
  height: 186px;
  width: 190px;
  background: #292929;
  border-radius: 50%;
  border: 6px solid #a8a8a8;
  z-index: 1500;
}
.body .gray {
  position: absolute;
  left: 120px;
  bottom: 0px;
  width: 700px;
  height: 90px;
  background: #909090;
}

.black {
  position: absolute;
  bottom: 10px;
  left: 290px;
  background: #292929;
  height: 32px;
  width: 500px;
  z-index: 2001;
}

.black_ushiro {
  position: absolute;
  bottom: 20px;
  right: 66px;
  background: #292929;
  height: 32px;
  width: 100px;
  z-index: -1;
  transform: skewY(-14deg);
}

.black_mae {
  position: absolute;
  bottom: 22px;
  left: 40px;
  background: #292929;
  height: 30px;
  width: 100px;
  transform: skewY(12deg);
  z-index: 3000;
}

.tokki {
  position: absolute;
  bottom: 11px;
  left: 30px;
  background: #292929;
  transform: skewX(-43deg);
  height: 22px;
  width: 140px;
  border-radius: 0px 0px 0px 4px;
}

.sentan_ue {
  height: 0px;
  width: 0px;
  border-width: 0px 50px 46px 20px;
  border-color: transparent transparent #949494 transparent;
  border-style: solid;
  position: absolute;
  top: 123px;
  left: -13px;
  z-index: 1000;
  transform: scale(0.76, 0.76) rotate(14deg);
}

.sentan_ue::after {
  height: 0px;
  width: 0px;
  border-color: #949494 transparent transparent transparent;
  border-width: 64px 18px 0px 18px;
  border-style: solid;
  position: absolute;
  content: "";
  transform: rotate(-32deg);
  position: absolute;
  top: -14px;
  left: 14px;
}

.sentan_shita {
  background: #292929;
  position: absolute;
  left: -4px;
  top: 162px;
  height: 40px;
  width: 70px;
  z-index: 1001;
  transform: skew(10deg, 8deg);
}

.ushiro_ue {
  position: absolute;
  right: 34px;
  top: 74px;
  background: #949494;
  height: 80px;
  width: 26px;
  transform: skew(10deg, 13deg);
}

.hide6 {
  position: absolute;
  top: 76px;
  right: 44px;
  background: #949494;
  height: 80px;
  width: 22px;
}

.ushiro_tokki {
  position: absolute;
  right: 24px;
  top: 140px;
  background: #292929;
  height: 36px;
  width: 44px;
  z-index: 1000;
}

.ushiro_shita_tokki {
  position: absolute;
  top: 170px;
  right: 36px;
  height: 40px;
  width: 40px;
  background: #9e9e9e;
  transform: skew(-30deg);
  z-index: -1;
}

.window1 {
  height: 70px;
  width: 162px;
  background: #494949;
  position: absolute;
  top: 14px;
  left: 496px;
  z-index: 2000;
  transform: rotate(-1deg) skewX(-10deg);
  border-radius: 0px 10px 10px 0px;
}

.window1::after {
  position: absolute;
  content: "";
  left: -139px;
  width: 0px;
  height: 0px;
  border-width: 0px 0px 70px 140px;
  border-style: solid;
  border-color: transparent transparent #494949 transparent;
  z-index: 2000;
}

.window2 {
  position: absolute;
  transform: rotate(-1deg);
  top: 13px;
  left: 700px;
  background: #292929;
  height: 70px;
  width: 30px;
  z-index: 2000;
  border-radius: 8px;
}

.window3 {
  position: absolute;
  left: 750px;
  z-index: 2000;
  top: 11px;
  height: 0px;
  width: 0px;
  transform: rotate(-0.4deg);
  border-width: 70px 0px 0px 220px;
  border-color: transparent transparent transparent #525252;
  border-style: solid;
}
.window3 .window3_red {
  position: absolute;
  left: -204px;
  bottom: 10px;
  width: 14px;
  height: 30px;
  background: #9a0505;
}
.window3 .window3_red::after {
  position: absolute;
  right: -21px;
  bottom: 0px;
  width: 14px;
  height: 30px;
  background: #9a0505;
  content: "";
}
.window3 .window3_red::before {
  position: absolute;
  right: -44px;
  bottom: 0px;
  width: 14px;
  height: 30px;
  background: #9a0505;
  content: "";
}

.window3::after {
  position: absolute;
  left: -220px;
  bottom: 0px;
  z-index: 2008;
  height: 14px;
  width: 90px;
  background: #c9c9c9;
  content: "";
}

.window3::before {
  position: absolute;
  left: -140px;
  bottom: 0px;
  z-index: 2008;
  height: 16px;
  width: 70px;
  background: #828282;
  content: "";
  z-index: 2009;
  transform: skewX(-30deg);
}

.zenrin {
  position: absolute;
  height: 156px;
  width: 156px;
  background: #2e2e2e;
  z-index: 2001;
  bottom: -40px;
  left: 142px;
  border-radius: 50%;
  transform: rotate(45deg);
}
.zenrin .moyo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  width: 40px;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
  z-index: 3000;
}
.zenrin .moyo div {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: #818181;
}
.zenrin .moyo .top {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 8px;
}
.zenrin .moyo .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 8px;
}
.zenrin .moyo .bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 8px;
}
.zenrin .moyo .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 8px;
}
.zenrin .moyo .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4a4a4a;
  margin: auto;
}

.zenrin::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #a7a7a7;
  content: "";
}

.korin {
  position: absolute;
  height: 164px;
  width: 164px;
  background: #2e2e2e;
  z-index: 2001;
  bottom: -40px;
  left: 760px;
  border-radius: 50%;
  transform: rotate(45deg);
}
.korin .moyo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 44px;
  width: 42px;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
  z-index: 3000;
}
.korin .moyo div {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: #818181;
}
.korin .moyo .top {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 8px;
}
.korin .moyo .right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 8px;
}
.korin .moyo .bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 8px;
}
.korin .moyo .left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 8px;
}
.korin .moyo .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4a4a4a;
  margin: auto;
}

.korin::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  background: #a7a7a7;
  content: "";
}

.zenrin,
.korin {
  -webkit-animation-name: running;
  animation-name: running;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes running {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes running {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.mae_line {
  position: absolute;
  top: 86px;
  left: 310px;
  border: 1px solid #292929;
  width: 300px;
  transform-origin: left;
  transform: rotate(70deg);
  z-index: 1500;
}

.ushiro_ue_line {
  position: absolute;
  top: 86px;
  left: 680px;
  border: 1px solid #555555;
  width: 100px;
  transform-origin: left;
  transform: rotate(-82deg);
  z-index: 1500;
}

.ushiro_shita_line {
  position: absolute;
  top: 85px;
  left: 478px;
  border: 1px solid #555555;
  width: 200px;
  transform-origin: right;
  transform: rotate(-56deg);
  z-index: 1500;
}
