.top {
  background-color: var(--primary);
  padding: var(--pt1) var(--pt2);
}

.logo-wrap {
  display: flex;
}

.logo {
  color: var(--white);
  align-self: center;
}

/* index */

.top.index {
  background-color: var(--white);
}

.top.index .logo {
  color: var(--text);
  align-self: center;
}
