.top {
  background: rgb(255, 175, 204);
  background: linear-gradient(
    25deg,
    rgba(162, 210, 255, 1) 25%,
    rgba(255, 175, 204, 1) 75%
  );
  padding: var(--pt1) var(--pt2);
}

.logo-wrap {
  display: flex;
}

.logo {
  color: var(--white);
  align-self: center;
}

/* index */

.top.index {
  background: var(--white);
}

.top.index .logo {
  color: var(--text);
  align-self: center;
}
