.menu {
  background-color: var(--divider);
  height: 100%;

  /* scroll in modal */
  overflow-y: auto;
}

.menu .middle {
  background-color: var(--primary-dark);
  padding: var(--pt6) var(--pt2);
  margin: 0;
  position: relative;
}

.menu .middle > div {
  padding: 0;
}

.middle label {
  padding: 0 0 var(--pt2) 0;
  color: var(--white);
}

.token {
  display: flex;
  flex-direction: column;
  padding: 0 var(--pt2);
}

.token .input,
.token .input > div {
  width: 100% !important;
}

.profiles {
  margin: var(--pt2) 0 0 0;
}

.profiles > button {
  box-sizing: border-box;
  border: 2px solid var(--white);
  height: var(--pt6);
  background-color: var(--white);
}

.history {
  width: var(--pt6);
  min-width: unset;
  margin-left: var(--pt2);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
}

.menu ul {
  padding: var(--pt6) var(--pt2);
  list-style: none;
  margin: 0;
}

.menu li {
  padding: 0;
}

.menu li a {
  display: block;
  padding: var(--pt2) 0;
}

.menu li:first-child a {
  padding: 0 0 var(--pt2) 0;
}

.token {
  flex-wrap: wrap;
}

.link.changes a strong {
  color: var(--secondary);
}

@media (min-width: 576px) {
  .token {
    flex-wrap: nowrap;
  }

  .menu .middle {
    padding: var(--pt4) var(--pt4);
  }
  .menu ul {
    padding: var(--pt4);
  }
}

/* 
* Dark mode
*/

/* selected dark theme */
:global(body.dark) .menu {
  background-color: var(--dark);
}
:global(body.dark) .menu hr {
  border-color: var(--dark);
}
:global(body.dark) .middle label {
  color: var(--text-dark);
}
:global(body.dark) .menu .middle {
  background-color: var(--dark-light);
}
:global(body.dark) .input > div {
  outline: 2px solid var(--text-light);
  background-color: var(--text-light) !important;
}
:global(body.dark) .input input {
  outline: 2px solid var(--text-light);
  background-color: var(--dark-light) !important;
}
