.top {
  background-color: var(--divider);
  min-height: 32px;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:global(body.dark) .top {
  background-color: var(--divider);
}
