.top {
  /* observer hack */
  top: -1px;

  position: relative;

  z-index: 99;
  padding: var(--pt1) 0;
  background-color: var(--white);
  border-bottom: 4px solid var(--primary-dark);

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
}

.left {
  flex-grow: 99;
}

.middle {
  display: flex;
  align-items: center;
}

.token {
  box-sizing: content-box;
  align-self: center;
  border: 2px solid var(--primary-dark);
  border-radius: var(--pt5);
}

.token > div:first-child {
  background-color: var(--primary-dark) !important;
  color: white;
}

.top.index .history {
  display: none;
}

.history {
  max-height: var(--pt5);
  max-width: var(--pt5);

  box-sizing: content-box;
  padding: 0;
  border: 2px solid var(--primary-dark);
  margin-left: var(--pt1);
}

.history span {
  /* icon size */
  font-size: 16px;
  line-height: var(--pt5);
}

.history:hover,
.history:focus-visible {
  border: none;
  border: 2px solid transparent;
}
/* logo */

.logo {
  height: var(--pt6);
  display: flex;
}

.logo a:hover {
  color: var(--white);
}

.logo > span {
  align-self: center;
}

.logo strong {
  color: var(--primary-dark);
}

/* links */

.links {
  display: flex;
  align-self: center;
}

.links .link {
  padding: 0 var(--pt4) 0 0;
}

.links .link:last-child {
  padding: 0;
}

.links .link.more {
  display: none;
}

.links .link.changes a {
  color: var(--secondary);
}

.links .link.changes a[disabled] {
  color: var(--text-light);
}

/* documentation */

.top.documentation {
  position: sticky;
}

.top.documentation.sticky {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

/* schema */

.top.schema {
  position: sticky;
}

.top.schema.sticky {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

/* index */
.top.index {
  border-bottom: none;
}

.top.index .profiles {
  display: none;
}

.top.index .token {
  display: none;
}

.top .logo a:hover {
  color: var(--primary-dark);
}

.modal :global(.offcanvas-body) {
  padding: 0;
}

/* hack */
.modal :global(.offcanvas-header) {
  position: absolute;
  width: 100%;
}

.settings {
  display: flex;

  position: fixed;
  right: 0;
  bottom: 15vh;
  padding: var(--pt2);
  z-index: 1;
}

@media (min-width: 1200px) {
  .settings {
    top: 65vh;
    bottom: unset;
  }
}

@media screen and (max-width: 1200px) {
  .links {
    padding: 0;
  }

  .links .link {
    display: none;
  }

  .links .link.more {
    display: block;
    padding: 0;
  }

  .token,
  .profiles {
    display: none;
  }

  .top.index .history {
    display: block;
  }
}

/* 
* Dark mode
*/

:global(body.dark) .top {
  background-color: var(--dark);
}
:global(body.dark) .top.index {
  background-color: var(--dark-light);
}
:global(body.dark) .token,
:global(body.dark) .history {
  border: 2px solid var(--text-light);
}
:global(body.dark) .token button {
  border: 2px solid var(--dark);
  background-color: var(--dark-light) !important;
}
:global(body.dark) .token > div:first-child {
  background-color: var(--text-light) !important;
}

/* pride border theme*/
:global(body.pride) .top:not(.index) .border {
  content: "";
  background: linear-gradient(
    90deg,
    #fe0000 16.66%,
    #fd8c00 16.66%,
    33.32%,
    #ffe500 33.32%,
    49.98%,
    #119f0b 49.98%,
    66.64%,
    #0644b3 66.64%,
    83.3%,
    #c22edc 83.3%
  );
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
}

/* pride border theme*/
:global(body.future) .top:not(.index) .border {
  content: "";
  background: linear-gradient(
    75deg,
    var(--hero-gradient-primary),
    var(--hero-gradient-secondary),
    var(--hero-gradient-primary),
    var(--hero-gradient-secondary)
  );
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
}

:global(body.dark) .top:not(.index) .border {
  display: none;
}

:global(body.dark) .top:not(.index) {
  border-bottom: 4px solid var(--text-light);
}
