.top {
  position: sticky;
  /* observer hack */
  top: -1px;

  z-index: 99;
  padding: var(--pt1) var(--pt2);
  background-color: var(--white);
  /* background: rgb(255, 175, 204);
  background: linear-gradient(
    45deg,
    rgba(162, 210, 255, 1) 25%,
    rgba(255, 175, 204, 1) 75%
  ); */
  /* background: var(--primary-dark); */
  border-bottom: 4px solid var(--primary-dark);

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
}

.top.sticky {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.left {
  flex-grow: 99;
}

.middle {
  display: flex;
  align-items: center;
}

.token {
  background-color: var(--primary-dark);
  box-sizing: content-box;
  align-self: center;
  border: 2px solid var(--primary-dark);
  border-radius: var(--pt5);
  /* transform: scale(0.85); */
}

.token > div {
  background-color: var(--primary-dark) !important;
}

.token input {
}

.history {
  box-sizing: content-box;
  padding: 0;
  border: 2px solid var(--primary-dark);
  margin-left: var(--pt1);
}

.history:hover,
.history:focus-visible {
  border: none;
  border: 2px solid transparent;
}
/* logo */

.logo {
  height: var(--pt6);
  display: flex;
}

.logo a:hover {
  color: var(--white);
}

.logo > span {
  align-self: center;
}

/* links */

.links {
  display: flex;
  align-self: center;
}

.links .link {
  padding: 0 var(--pt4) 0 0;
}

.links .link:last-child {
  padding: 0;
}

.links .link.more {
  display: none;
}

/* index */
.top.index {
  position: unset;
  border-bottom: none;
}

.top .logo a:hover,
.top .links .link a:hover {
  color: var(--primary-dark);
}

@media screen and (max-width: 992px) {
  .links {
    padding: 0;
  }

  .links .link {
    display: none;
  }

  .links .link.more {
    display: block;
    padding: 0;
  }

  .top.index .links .link.more {
    margin-right: var(--pt2);
  }

  .token {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
