/* html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll: none;
}

body {
  background-color: #2f5363;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2F5363', endColorstr='#FF1B2628');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iODAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmY1MzYzIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMxYjI2MjgiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=");
  background-size: 100%;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    #2f5363 0%,
    #1b2628 80%
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    #2f5363 0%,
    #1b2628 80%
  );
  background-image: radial-gradient(
    ellipse cover at center,
    #2f5363 0%,
    #1b2628 80%
  );
  overflow: hidden;
} */

.wrap {
  width: calc(50px + var(--pt2) + var(--pt2));
  height: 125px;
  position: absolute;
  background-position: red;
  z-index: 1;
}

.wrap:hover .spider {
  top: -45vh;
  transition-duration: 1s;
}

.wrap_0 {
  left: 5%;
}

.wrap_1 {
  left: 20%;
}

.wrap_2 {
  left: 35%;
}

.wrap_3 {
  right: 35%;
}

.wrap_4 {
  right: 20%;
}

.wrap_5 {
  right: 5%;
}

.spider {
  position: absolute;
  height: 40px;
  width: 50px;
  border-radius: 50%;
  margin: 40px 0 0 var(--pt2);
  background: #110d04;
  transition: top 0.3s;
  top: 0;
}

.spider *,
.spider:before,
.spider:after,
.spider :after,
.spider :before {
  position: absolute;
  content: "";
}
.spider:before {
  width: 1px;
  background: #aaaaaa;
  left: 50%;
  top: -320px;
  height: 320px;
}
.spider .eye {
  top: 16px;
  height: 14px;
  width: 12px;
  background: #ffffff;
  border-radius: 50%;
}
.spider .eye:after {
  top: 6px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: black;
}
.spider .eye.left {
  left: 14px;
}
.spider .eye.left:after {
  right: 3px;
}
.spider .eye.right {
  right: 14px;
}
.spider .eye.right:after {
  left: 3px;
}
.spider .leg {
  top: 6px;
  height: 12px;
  width: 14px;
  border-top: 2px solid #110d04;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.spider .leg.left {
  left: -8px;
  transform-origin: top right;
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #110d04;
  border-radius: 60% 0 0 0;
  animation: legs-wriggle-left 1s 0s infinite;
}
.spider .leg.right {
  right: -8px;
  transform-origin: top left;
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #110d04;
  border-radius: 0 60% 0 0;
  animation: legs-wriggle-right 1s 0.2s infinite;
}
.spider .leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  animation: legs-wriggle-left 1s 0.8s infinite;
}
.spider .leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  animation: legs-wriggle-left 1s 0.2s infinite;
}
.spider .leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  animation: legs-wriggle-left 1s 0.4s infinite;
}
.spider .leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  animation: legs-wriggle-right 1s 0.4s infinite;
}
.spider .leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  animation: legs-wriggle-right 1s 0.7s infinite;
}
.spider .leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  animation: legs-wriggle-right 1s 0.3s infinite;
}

.wrap_0 {
  animation: spider-move-0 5s infinite;
}

.wrap_1 {
  animation: spider-move-1 5s infinite;
}

.wrap_2 {
  animation: spider-move-2 5s infinite;
}

.wrap_3 {
  margin-top: 160px;
  animation: spider-move-3 5s infinite;
}

.wrap_4 {
  margin-top: 50px;
  animation: spider-move-4 5s infinite;
}

.wrap_5 {
  margin-top: 210px;
  animation: spider-move-5 5s infinite;
}

@keyframes legs-wriggle-left {
  0%,
  100% {
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
  75% {
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    transform: rotate(45deg) skewX(-20deg);
  }
}

@keyframes legs-wriggle-right {
  0%,
  100% {
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
  75% {
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    transform: rotate(-45deg) skewX(20deg);
  }
}

@keyframes spider-move-0 {
  0%,
  100% {
    margin-top: 133px;
  }
  56% {
    margin-top: calc(133px + 46px);
  }
}

@keyframes spider-move-1 {
  0%,
  100% {
    margin-top: 210px;
  }
  47% {
    margin-top: calc(210px + 39px);
  }
}

@keyframes spider-move-2 {
  0%,
  100% {
    margin-top: 189px;
  }
  52% {
    margin-top: calc(189px + 118px);
  }
}

@keyframes spider-move-3 {
  0%,
  100% {
    margin-top: 141px;
  }
  56% {
    margin-top: calc(141px + 52px);
  }
}

@keyframes spider-move-4 {
  0%,
  100% {
    margin-top: 121px;
  }
  60% {
    margin-top: calc(121px + 100px);
  }
}

@keyframes spider-move-5 {
  0%,
  100% {
    margin-top: 114px;
  }
  49% {
    margin-top: calc(114px + 85px);
  }
}
