.history {
  width: var(--pt6);
  min-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
}

.history.compact {
  width: var(--pt5);
  max-height: var(--pt5);
}

.history.compact span {
  transform: scale(0.75);
}

.modal {
  background-color: var(--divider);
}

/* 
* Dark theme
*/

/* selected dark theme */
:global(body.dark) .modal {
  background-color: var(--dark-light);
}
