.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  cursor: none;

  z-index: 2;
}

.hill {
  border-radius: 50%;
  background-color: #023020;
  opacity: 0.3;

  position: absolute;
}

.hill > div {
  position: relative;
  height: 100%;
}

.hill.large {
  width: 800px;
  height: 600px;

  bottom: -400px;
  left: 0;
}

.tomb {
  width: 100px;
  height: 125px;
  background-color: darkslategray;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  position: absolute;
  left: 300px;
  top: -75px;
}

.tomb p {
  margin-top: 50%;
  font-size: 12px;
}
