.border {
  border-left: var(--pt05) solid #ffe082;
  padding: var(--pt3);
}

/* remove border on deprecationBox child */
.border > :global(.deprecation-box) {
  border: none !important;
}

/* styles override */
.border code {
  background-color: #ffecb3;
}

.border a:hover,
.border a:focus-visible {
  color: #ffa000 !important;
}

/* inline graphiql */
.border :global(.graphiql-container),
.border :global(.curl-input),
.border :global(.interface) {
  background-color: #fff8e1 !important;
  --primary: #ffe082;
  --primary-dark: #ffca28;
}

/* inline graphiql buttons */
.border :global(.inlinegraphiql > .buttons button) {
  background-color: var(--white) !important;
}
.border :global(.inlinegraphiql > .buttons .run-btn) {
  background-color: #ffca28 !important;
}
.border :global(.inlinegraphiql > .buttons button:is(:hover, :focus-visible)) {
  background-color: #ffa000 !important;
}

/* dummy loading version of inline graphiql */
.border :global(.inlinegraphiql.dummy > .buttons button) {
  background-color: #fff8e1 !important;
}

/* 
* Dark theme
*/
:global(body.dark) .border {
  border-left: var(--pt05) solid #ffa000;
}

/* selected dark theme */
:global(body.dark) .border :global(.graphiql-container),
:global(body.dark) .border :global(.curl-input) {
  background-color: var(--dark) !important;
  --primary: #ffe082;
  --primary-dark: #ffa000;
}
